<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body {
      color: #000000;
    }
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verification Approval</title>
</head>
<body>
<p style="color: #000000;">Dear ${userName},</p>
<p style="color: #000000;">Your quiz answers is received. Please waiting for results.</p>
<p style="color: #000000;">If you have any further questions or concerns, feel free to contact our
  support team at <a href=${supportEmailLink}>${supportEmailLinkTitle}</a>.</p>
<p style="color: #000000;"><strong>Best regards,</strong></p>
<p><a href=${companySiteLink}>${companySiteLinkTitle}</a></p>
</body>
</html>
